<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <img src="{{ '/favicon.ico' | relative_url }}" width="30" height="30" style="margin-right:5px" class="d-inline-block align-top" alt="">
        {{ site.title | escape }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <!-- Home link -->
            <li class="nav-item">
                <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
            </li>
            
            <!-- Dropdown for Research with main Research page and citizen science as sub-item -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownResearch" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Research
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownResearch">
                    <a class="dropdown-item" href="{{ '/research/' | relative_url }}">Overview</a>
                    <a class="dropdown-item" href="{{ '/research/citizen science/' | relative_url }}">Citizen Science</a>
                    <!-- Additional dropdown items can be added here -->
                </div>
            </li>
            
            <!-- Other navigation links -->
            {% for nav_page in site.nav_pages %}
                {% unless nav_page.name == 'research' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ nav_page.name | slugify | prepend: '/' | relative_url }}">{{ nav_page.name | capitalize }}</a>
                    </li>
                {% endunless %}
            {% endfor %}
            
            <!-- CV link -->
            <li class="nav-item">
                <a class="nav-link" href="{{ '/cv/CTC_curriculum_vitae.pdf' | relative_url }}" target="_blank">CV</a>
            </li>
        </ul>
    </div>
</nav>

