---
layout: default
---

{% include head.html %}

<body>

  {% include header.html %}

  <div class="container-fluid">
    <div class="row">
      <main>
        <h1>Our Team</h1>

        {% for team_member in site.data.team_members %}
        <div class="team-member">
          <h2>{{ team_member.name }}</h2>
          <div class="team-member-info">
            <img src="{{ team_member.image }}" alt="{{ team_member.name }}">
            <div>
              <h3>{{ team_member.position }}</h3>
              <p>{{ team_member.description }}</p>
              <p>
                <a href="{{ team_member.github }}">GitHub</a> |
                <a href="{{ team_member.inaturalist }}">iNaturalist</a>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </main>
    </div>
  </div>

  {% include footer.html %}

</body>

</html>
